/* ===================================================================
RESET STYLES
====================================================================== */
html, body, h1, h2, h3, h4, h5, h6, ul, p, li, a, button {
  margin: 0;
  padding: 0; }

.home-page {
  min-width: 376px; }

*, *::after, *::before {
  box-sizing: border-box; }

*, *:focus, *:hover, *:active, *:focus-visible {
  outline: none; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/* ===================================================================
RESET STYLES
====================================================================== */
h1, h2, h3, h4, h5, h6, p, button {
  font-family: "Inter", sans-serif; }

h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 16px; }

.container {
  max-width: 1920px;
  margin: 0 auto; }

nav .container .nav-fone {
  height: 265px;
  padding: 0 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(images/image1.jpg);
  background-size: cover;
  background-position: 0% 50%; }
nav .container h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  color: white;
  padding-top: 55px;
  padding-bottom: 11px; }
nav .container h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  color: white; }

section.page1 .container {
  height: 1513px;
  background: whitesmoke; }
  section.page1 .container .page1-mid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 1320px;
    height: 1460px;
    padding: 96px 96px 48px 96px;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
    border-radius: 0px 0px 20px 20px;
    background: white; }
    section.page1 .container .page1-mid .car-foto {
      width: 709px;
      height: 398px;
      display: flex;
      justify-content: center;
      align-items: center; }
      section.page1 .container .page1-mid .car-foto img {
        padding: 32px;
        width: 100%;
        height: 100%;
        object-fit: cover; }
    section.page1 .container .page1-mid .common-pack {
      height: 78px;
      width: 100%;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid #d9d9d9;
      position: relative;
      transition: 0.2s all; }
      section.page1 .container .page1-mid .common-pack div.burbble {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background: black;
        border: 1px solid black; }
      section.page1 .container .page1-mid .common-pack h4 {
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
        margin-bottom: 8px;
        color: #222222; }
      section.page1 .container .page1-mid .common-pack p {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        color: #999999; }
      section.page1 .container .page1-mid .common-pack div.option {
        position: absolute;
        top: 19px;
        right: 19px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center; }
      section.page1 .container .page1-mid .common-pack img {
        width: 20px;
        height: 20px;
        display: none; }
    section.page1 .container .page1-mid .common-pack.selected {
      background: linear-gradient(0deg, rgba(24, 154, 248, 0.05), rgba(24, 154, 248, 0.05));
      border: 2px solid #189af8; }
      section.page1 .container .page1-mid .common-pack.selected img {
        display: block; }
    section.page1 .container .page1-mid > div:nth-child(n+2):nth-child(-n+6) {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 32px;
      border-radius: 16px;
      box-shadow: 2px 3px 11.6px 0px rgba(0, 0, 0, 0.1); }
      section.page1 .container .page1-mid > div:nth-child(n+2):nth-child(-n+6) h3 {
        width: 100%; }
    section.page1 .container .page1-mid .main-pack {
      width: 387px;
      height: 370px; }
    section.page1 .container .page1-mid #color {
      width: 709px;
      height: 394px;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row; }
      section.page1 .container .page1-mid #color .common-pack {
        height: 86px;
        display: flex;
        gap: 16px;
        align-items: center;
        width: calc((100% - 1 * 16px)/2); }
      section.page1 .container .page1-mid #color .-js-pack11 .burbble {
        background-color: red; }
      section.page1 .container .page1-mid #color .-js-pack12 .burbble {
        background-color: gray; }
      section.page1 .container .page1-mid #color .-js-pack13 .burbble {
        background-color: green; }
      section.page1 .container .page1-mid #color .-js-pack14 .burbble {
        background-color: white; }
      section.page1 .container .page1-mid #color .-js-pack15 .burbble {
        background-color: blue; }
    section.page1 .container .page1-mid .engine {
      width: 387px;
      height: 394px; }
    section.page1 .container .page1-mid .salon {
      width: 387px;
      height: 370px; }
    section.page1 .container .page1-mid .accessories {
      width: 709px;
      height: 370px; }
      section.page1 .container .page1-mid .accessories div.option {
        border: 4px solid #5e5e5e; }
    section.page1 .container .page1-mid .page1-line {
      margin: 20px auto;
      width: 1128px;
      height: 2px;
      background: #ededed; }
    section.page1 .container .page1-mid .total {
      width: 1128px;
      height: 50px;
      display: flex;
      align-items: center; }
      section.page1 .container .page1-mid .total h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        padding: 0; }
      section.page1 .container .page1-mid .total p {
        flex-grow: 1;
        padding-left: 8px;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px; }
      section.page1 .container .page1-mid .total button {
        width: 113px;
        height: 50px;
        border-radius: 8px;
        border: 1px solid #2d76aa;
        color: white;
        background: #2b9cee;
        transition: 0.2s all;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.02em; }
        section.page1 .container .page1-mid .total button:hover {
          background-color: #37abff; }

/*# sourceMappingURL=styles.css.map */
