@charset "UTF-8";
/* bootstrap breakpoints
        xs <576px
        sm ≥576px
        md ≥768px
        lg ≥992px
        xl ≥1200px
        xxl ≥1400px
*/
/* ===================================================================
RESET STYLES
====================================================================== */
html, body, h1, h2, h3, h4, h5, h6, ul, p, li, a, button {
  margin: 0;
  padding: 0; }

.home-page {
  min-width: 376px; }

*, *::after, *::before {
  box-sizing: border-box; }

*, *:focus, *:hover, *:active, *:focus-visible {
  outline: none; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/* ===================================================================
RESET STYLES
====================================================================== */
/*
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
*/
.container-fluid {
  max-width: 1920px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase; }

a, p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 18px;
  line-height: 22px; }

h1 {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px; }

h3 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px; }

.mstyle-p1 {
  font-weight: 400;
  text-align: justify; }

.mstyle-p2-bold {
  font-weight: 700;
  text-align: justify; }

.games .container-fluid {
  max-width: 1440px; }
  .games .container-fluid .games-sos {
    width: 100%;
    height: 1279px;
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), linear-gradient(0deg, rgba(9, 10, 12, 0.9), rgba(9, 10, 12, 0.9)), url("../images/sos-background.jpg");
    background-size: contain;
    position: relative; }
    .games .container-fluid .games-sos .sos-title {
      width: 420.93px;
      height: calc(153.56px + 11.61px + 27.73px);
      position: absolute;
      top: 398.77px;
      left: calc(50% - 1920px/2 + 300px); }
      .games .container-fluid .games-sos .sos-title p {
        padding-left: 2px;
        padding-bottom: 11.61px; }
    .games .container-fluid .games-sos .div-dash {
      width: 711.5px;
      height: 2.99px;
      border-radius: 4px;
      background: white;
      position: absolute;
      top: 638px;
      left: calc(50% - 1920px/2 + 302px);
      z-index: 3000; }
    .games .container-fluid .games-sos .sos-description {
      width: 364.85px;
      height: 176.62px;
      position: absolute;
      top: 687px;
      left: calc(50% - 1920px/2 + 471px); }
      .games .container-fluid .games-sos .sos-description .underline {
        width: 122.06px;
        height: 6.27px;
        background: #ffb548;
        position: absolute;
        bottom: 0px;
        left: 164px; }
    .games .container-fluid .games-sos .div-images {
      width: 698.33px;
      height: 707.27px;
      position: absolute;
      top: 287.66px;
      left: calc(50% - 1920px/2 + 910px);
      z-index: 2900; }
      .games .container-fluid .games-sos .div-images img#sos-image1 {
        width: 581.82px;
        height: 707.27px;
        position: absolute;
        object-fit: cover;
        border-radius: 7.33px;
        top: 0;
        left: 0;
        z-index: 4000; }
      .games .container-fluid .games-sos .div-images img#sos-image2 {
        width: 581.82px;
        height: 707.27px;
        position: absolute;
        object-fit: cover;
        border-radius: 7.33px;
        top: 0;
        left: 0;
        z-index: 3900; }
      .games .container-fluid .games-sos .div-images img#sos-image3 {
        width: 507.18px;
        height: 652.49px;
        position: absolute;
        object-fit: cover;
        border-radius: 7.33px;
        opacity: 90%;
        top: 23.63px;
        left: 105.08px;
        z-index: 3800; }
      .games .container-fluid .games-sos .div-images img#sos-image4 {
        width: 507.18px;
        height: 592.69px;
        position: absolute;
        object-fit: cover;
        border-radius: 7.33px;
        opacity: 80%;
        top: 54.78px;
        left: 130.42px;
        z-index: 3700; }
      .games .container-fluid .games-sos .div-images img#sos-strange {
        width: 30px;
        height: 24px;
        position: absolute;
        top: 3px;
        left: 582px;
        z-index: 4000; }
      .games .container-fluid .games-sos .div-images img#sos-switch {
        width: calc(39.43px + 3.89px);
        height: calc(15.9px + 3.89px);
        position: absolute;
        top: 347.58px;
        right: 0px;
        z-index: 4000; }
      .games .container-fluid .games-sos .div-images .sos-bubbles {
        width: 325.28px;
        height: 16.67px;
        position: absolute;
        bottom: 33px;
        left: 136.94px;
        z-index: 4100;
        display: flex;
        justify-content: space-between; }
        .games .container-fluid .games-sos .div-images .sos-bubbles .sos-ph-circle {
          width: 16.2px;
          height: 16.2px;
          border-radius: 50%;
          border: 1.51px solid white; }
        .games .container-fluid .games-sos .div-images .sos-bubbles :first-child {
          background: white; }
        .games .container-fluid .games-sos .div-images .sos-bubbles .circle-mark-progress {
          width: 37.22px;
          border: 2.27px solid white;
          border-radius: 2.27px;
          position: absolute;
          top: calc(50% - 2.27px);
          left: 8.95px;
          z-index: 5000; }
  .games .container-fluid .games-features {
    width: 100%;
    height: 1179px;
    position: relative; }
    .games .container-fluid .games-features .features-background {
      width: 100%;
      height: 100%;
      background: radial-gradient(34.64% 65.66% at 73.36% 41.9%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("../images/features-background.jpg");
      background-size: cover;
      transform: scaleX(-1);
      background-position: 62% 0;
      position: absolute;
      z-index: 1000; }
    .games .container-fluid .games-features .info {
      width: 413.27px;
      height: 439.67px;
      top: 371.12px;
      left: calc(50% - 1920px/2 + 1169px);
      position: absolute;
      z-index: 1100; }
      .games .container-fluid .games-features .info h1 {
        margin-top: 9.56px;
        margin-bottom: 66.75px; }
      .games .container-fluid .games-features .info .left-slider {
        width: 14px;
        height: 239.69px;
        position: absolute;
        left: 0;
        bottom: 9.21px; }
        .games .container-fluid .games-features .info .left-slider .bubble {
          width: 14px;
          height: 14px;
          border: 1.31px solid white;
          border-radius: 50%; }
        .games .container-fluid .games-features .info .left-slider .bubble1 {
          background: white; }
        .games .container-fluid .games-features .info .left-slider .bubble2 {
          margin-top: 114.77px;
          margin-bottom: 53.92px; }
        .games .container-fluid .games-features .info .left-slider .progress {
          width: 0px;
          height: 122.03px;
          border: 1.96px solid white;
          position: absolute;
          top: 7px;
          left: 5px; }
      .games .container-fluid .games-features .info .info-into {
        padding-left: 46.82px; }
        .games .container-fluid .games-features .info .info-into h2 {
          color: #ffb548; }
        .games .container-fluid .games-features .info .info-into p {
          margin-top: 8.63px;
          margin-bottom: 24.21px; }
        .games .container-fluid .games-features .info .info-into :last-child {
          margin-top: 36.71px; }
  .games .container-fluid .games-system {
    width: 100%;
    height: 1265.22px;
    background: radial-gradient(33.94% 46.58% at 70.14% 64.4%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url("../images/system-background.jpg");
    background-size: cover;
    position: relative; }
    .games .container-fluid .games-system h3.title {
      padding-top: 233.21px;
      text-align: center; }
    .games .container-fluid .games-system h1 {
      margin-top: 8.48px;
      text-align: center; }
    .games .container-fluid .games-system .specification {
      width: 573.2px;
      height: 400.69px;
      position: absolute;
      top: 512px;
      left: calc(50% - 1920px/2 + 300px); }
      .games .container-fluid .games-system .specification table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        table-layout: fixed; }
        .games .container-fluid .games-system .specification table td {
          border: 1px solid #979797;
          text-align: left;
          vertical-align: top;
          padding: 19.41px 19.16px; }
          .games .container-fluid .games-system .specification table td h3 {
            padding-bottom: 7px;
            color: #ffb548; }
        .games .container-fluid .games-system .specification table tr:last-child td:last-child {
          border-right: 1px solid transparent;
          border-bottom: 1px solid transparent; }
      .games .container-fluid .games-system .specification .table-border-design {
        position: absolute;
        bottom: 0px;
        height: 1px;
        background: #979797; }
      .games .container-fluid .games-system .specification .table-border-design.table-border-design1 {
        width: 58px;
        left: 0px; }
      .games .container-fluid .games-system .specification .table-border-design.table-border-design2 {
        width: 6px;
        left: 58px;
        bottom: 4px;
        transform: skew(45deg, -54deg); }
      .games .container-fluid .games-system .specification .table-border-design.table-border-design3 {
        width: 35px;
        left: 64px;
        bottom: 8px; }
      .games .container-fluid .games-system .specification .table-border-design.table-border-design4 {
        width: 6px;
        left: 98px;
        bottom: 4px;
        transform: skew(69deg, 54deg); }
      .games .container-fluid .games-system .specification .table-border-design.table-border-design5 {
        width: 458px;
        right: 12px; }
      .games .container-fluid .games-system .specification .table-border-design.table-border-design6 {
        width: 12px;
        right: 0px;
        bottom: 6px;
        transform: skew(45deg, -45deg); }
      .games .container-fluid .games-system .specification .table-border-design.table-border-design7 {
        bottom: 12px;
        right: 0px;
        width: 1px;
        height: 130px; }

/*# sourceMappingURL=main.css.map */
